{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block contenido %} 

{% include "fragments/titulo.html" with titulo="Login" %}

{% include "fragments/card_start.html" with header="Indica Credenciales de Acceso" %}
<form method="post">
    {% csrf_token %}
    {#{ form.as_p }#}
    {{ form|crispy}}
    <button type="submit">Acceder</button>
</form>
{% include "fragments/card_finish.html" %}
{% endblock %}