{% load socialaccount %}
{% providers_media_js %}


<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="bs-component">
            <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">DJPro - DEBS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <!-- <a class="nav-link active" href="{% url 'core:home' %}">Inicio
                                </a> -->
                                <div class="nav-link"
                                 hx-get="{% url 'core:home' %}" hx-push-url="true"
                                 hx-trigger="click"
                                 hx-target="#body"
                                 hx-swap="outerHTML"
                                 style="cursor: pointer;"
                                >Inicio</div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Registrar</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li> -->
                            {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">Catálogos</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#"
                                     hx-get="{% url 'control:mark_list' %}"
                                     hx-triger="click" hx-target="#body"
                                     hx-push-url="true"
                                     style="cursor: pointer;"
                                    >Marcas</a>
                                    {% if perms.ctrl_comb.view_modeo %}
                                    <a class="dropdown-item" href="{% url 'control:modelo_list' %}">Modelos</a>
                                    {% endif %}
                                    {% if perms.ctrl_comb.view_vehiculo %}
                                    <a class="dropdown-item" href="{% url 'control:vehiculo_list' %}">Vehículos</a>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'pages:about' %}">Acerca de...</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            {% if user.is_authenticated %}
                            <!-- <a href="{% url 'usuarios:logout' %}">Salir</a> -->
                            <div class="text-info" hx-get="{% url 'usuarios:logout' %}"
                                hx-trigger="click" hx-target="#body" style="cursor: pointer;">Salir
                            </div>
                            {% else %}
                            <!-- <a href="{% url 'usuarios:login' %}">Login</a>
                            | <a href="{% url 'usuarios:registro' %}">Registro</a>
                            | <a href="{% provider_login_url 'google' %}?next=/">Google</a> -->
                            <div class="text-info" hx-get="{% url 'usuarios:login' %}" hx-push-url="true"
                                hx-trigger="click" hx-target="#body" style="cursor: pointer;">Login</div>&nbsp; &nbsp;
                            <div class="text-info" hx-get="{% url 'usuarios:registro' %}" hx-push-url="true"
                                hx-trigger="click" hx-target="#body" style="cursor: pointer;" hx-push-url="true">Registro</div>&nbsp; &nbsp;
                            <div class="text-info" hx-get="{% provider_login_url 'google'%}?next=/" hx-push-url="true"
                                hx-trigger="click" hx-target="#body" style="cursor: pointer;">Google</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>