{% extends "base.html" %}

{% block contenido %}

{% include "fragments/titulo.html" with titulo="Modelos Vehículo"  %}

    {% include "fragments/card_start.html" with header="Listado de Modelos de Vehículos" %}
    <a href="{% url 'control:modelo_new' %}" class="btn btn-sm btn-warning"><i class="bi bi-plus-circle"></i>Nuevo</a>
    <button type="button" class="btn btn-success btn-sm" onclick="abrir_modal('{% url 'control:modelo_new_modal' %}')">
        <i class="bi bi-pencil-square"></i>
    </button>
    <table id="tbl" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- {#% for o in obj %#}
            <tr>
                <td>
                    <a href="{#% url 'control:modelo_edit' o.id %#}" class="btn btn-info btn-sm">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="{#% url 'control:modelo_delete' o.id %#}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </a>
                    <button type="button" class="btn btn-danger btn-sm" onclick="borrar({{o.id}},'{{o.descript}}')">
                        <i class="bi bi-trash3"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" onclick="abrir_modal('{#% url 'control:modelo_edit_modal' o.id %#}')">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td>{{ o.mark }}</td>
                <td>{{ o.descript }}</td>
            </tr>
            {#% endfor %#} -->
        </tbody>
    </table>
    {% include "fragments/card_finish.html" %}
{% endblock %}


{% block js %}
{% endblock %}

{% block dtName %}#tbl{% endblock %}
{% block dtColumns %}
{ data:"mark"},{ data:"descript"}
{% endblock %}
{% block dtUrl %}{% url 'control:modelo_dt' %}{% endblock %}
{% block dtUrlEdit %}/control/models/modal{% endblock %}
{% block dtUrlDelete %}{% url 'control:modelo_list' %}delete/{% endblock %}
{% block dtDescDelete %}mark,descript,algo{% endblock %}