{% extends "base.html" %}

{% block contenido %}

{% include "fragments/titulo.html" with titulo="Vehículo"  %}

    {% include "fragments/card_start.html" with header="Listado de Vehículos" %}
    <button type="button" class="btn btn-success btn-sm" onclick="abrir_modal('{% url 'control:vehiculo_new' %}')">
        <i class="bi bi-pencil-square"></i>
    </button>
    <table id="tbl" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Registro</th>
                <th>Año</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    {% include "fragments/card_finish.html" %}
{% endblock %}


{% block js %}
{% endblock %}

{% block dtName %}#tbl{% endblock %}
{% block dtColumns %}
{ data:"mark"},{ data:"modelo"},{ data:"register"},{ data:"year"}
{% endblock %}
{% block dtUrl %}{% url 'control:vehiculo_dt' %}{% endblock %}
{% block dtUrlEdit %}/control/vehicles/modal{% endblock %}
{% block dtUrlDelete %}{% url 'control:vehiculo_list' %}delete/{% endblock %}
{% block dtDescDelete %}mark,modelo,register,year{% endblock %}