{% extends "base.html" %}

{% block titulo %}Acerca de la APP{% endblock %}

{% block contenido %}

{% include "fragments/titulo.html" with titulo="Acerca de la APP"  %}

    {% include "fragments/card_start.html" with header="Acerca de la APP" %}
      <h4 class="card-title">Danger card title</h4>
      <p class="card-text">Aplicación Elaborada para el Curso Django para Profesionales</p>
      {% include "fragments/card_finish.html" %}
{% endblock %}

