{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}App Ctrol Combustible x Curso Django para Profesionales{% endblock%}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap_sketchy.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatable/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatable/Responsive-2.5.0/css/responsive.bootstrap5.min.css' %}">

    <!-- Selct2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

</head>

<body id="body" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
    <!-- Menu -->
    {% include "fragments/menu.html" %}
    <!-- Fin Menu -->
    <div class="row">
        <div class="container-sm">
            {% block contenido%}
            {% endblock contenido%}
        </div>
    </div>

    <div id="popup" class="modal fade"></div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js" integrity="sha512-uaZ0UXmB7NHxAxQawA8Ow2wWjdsedpRu7nJRSoI2mjnwtY8V5YiCWavoIpo1AhWPMLiW5iEeavmA3JJ2+1idUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script> -->
    <script src="{% static 'js/htmx.js' %}"></script>

    <!-- Datatables -->
    <script src="{% static 'plugins/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'plugins/datatable/Buttons-2.4.2/js/buttons.bootstrap5.min.js' %}"></script>

    <!-- sweetalert -->
    <script src="{% static 'js/sweetalert.js' %}"></script>

    <!-- jquery-chained -->
    <script src="{% static 'js/jquery.chained.min.js' %}"></script>

    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>
        function abrir_modal(url){
            $("#popup").load(url,function(){
                $(this).modal({
                    backdrop:"static",
                    keyboard:false
                })
                $(this).modal('show')
            })
            return false
        }
        function cerrar_modal(){
            $("#popup").modal("hide")
            return false;
        }
    </script>

    <script>
        var tblName = "{% block dtName %}#tbl{% endblock %}"
        var dtColumns = [{% block dtColumns %}{% endblock %}
        {% block dtColumnsActions %}
        ,{ data: null,
            className: "dt-center editor-edit text-success",
            defaultContent: '<i class="bi bi-pencil-square"></i>',
            orderable:false
        },
        { data: null,
            className: "dt-center editor-delete text-danger",
            defaultContent: '<i class="bi bi-trash3"></i>',
            orderable:false
        }
        {% endblock %}]
        var tblUrl = "{% block dtUrl %}/{% endblock %}"
        var dtUrlEdit= "{% block dtUrlEdit %}/{% endblock %}"
        var urlDelete = "{% block dtUrlDelete %}/{% endblock %}"
        var descDelete = "{% block dtDescDelete %}descript,{% endblock %}"
        
    </script>
    {% include "fragments/datatable.html" %}

    {% block js %}
    {% endblock %}

</body>

</html>