{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block contenido %} 

{% include "fragments/titulo.html" with titulo="Nuevo Usuario" %}

{% include "fragments/card_start.html" with header="Registro de Usuario" %}

<form method="post">
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit" class="btn btn-warning">Registrar</button>
</form>

{% include "fragments/card_finish.html" %}
{% endblock %}